<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<!--  <typeAlias type="com.kh.toy.board.model.vo.Board" alias="board"/>-->
		<typeAlias type="com.kh.toy.shop.model.vo.Shop" alias="shop"/>
		<typeAlias type="com.kh.toy.review.model.vo.Review" alias="review"/>
		<typeAlias type="com.kh.toy.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.toy.shop.model.vo.MenuCategory" alias="menuCategory"/>
		<typeAlias type="com.kh.toy.shop.model.vo.Menu" alias="menu"/>
		<typeAlias type="com.kh.toy.common.util.file.MenupamFile" alias="menupamFile"/>
		<typeAlias type="com.kh.toy.reservation.model.vo.Reservation" alias="reservation"/>
		<typeAlias type="com.kh.toy.waiting.model.vo.Waiting" alias="waiting"/>
		<typeAlias type="com.kh.toy.shop.model.vo.MenuOrdering" alias="menuOrdering"/>
		
	</typeAliases>
	<mappers>
		<!--<mapper resource="mybatis/mapper/boardMapper.xml"/>-->
		<mapper resource="mybatis/mapper/reviewMapper.xml"/>
		<mapper resource="mybatis/mapper/shopMapper.xml"/>
		<mapper resource="mybatis/mapper/memberMapper.xml"/>
		<mapper resource="mybatis/mapper/reservationMapper.xml"/>
		<mapper resource="mybatis/mapper/waitingMapper.xml"/>
	</mappers>
</configuration>