<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.toy.member.model.repository.MemberRepository">
		 

	<select id="selectMemberList" resultType="member">
		select *
		from(
			select rownum rnum, m.*
			from(
				select *
				from tb_member
				order by ${sort} ${direction}
			) m
		) where rnum between #{queryStart} and #{queryEnd}	
	</select>

	<select id="selectMemberAll" resultType="member">
		SELECT * FROM TB_MEMBER
	</select>

	<!-- <select id="selectUserInfo" resultType="member" parameterType="string">
		SELECT * FROM TB_MEMBER
		WHERE MEMBER_ID = #{value}
	</select> -->
	
	<!-- '%'||#%test#||'%' -->
	<!-- 
		<select id="memberView" resultType="member">
		SELECT * FROM TB_MEMBER WHERE MEMBER_ID = #{memberId}
		</select> -->
		
	<update id="updateMember">
		update tb_member
		set member_phone = #{memberPhone}
		where member_id = #{memberId}
	</update>
	<update id="updatePw">
	update tb_member
	set member_pw = #{memberPw}
	where member_id = #{memberId}
	</update>
	<!-- ㅇㅋ -->
	<update id="adminModify">
		update tb_member
		set member_pw = #{memberPw}
		,member_name = #{memberName}
		,member_email = #{memberEmail}
		,member_phone = #{memberPhone}
		,member_type = #{memberType}
		where member_id = #{memberId}
	</update>
	
	
	<update id="leaveMember">
		update tb_member
		set member_leave_date = sysdate
		where member_id = #{memberId}
	</update>
	
	<update id="restoreMember">
		update tb_member
		set member_leave_date = null
		where member_id = #{memberId}
	</update>
	
	<select id="selectShop" resultType="map">
	select tb_shop.shop_name, tb_shop.shop_tell, tb_reservation.reser_idx, 
	tb_reservation.reser_date , tb_reservation.reser_party,
	 tb_reservation.reser_comment,tb_reservation.reser_state
	from tb_shop 
	left outer join tb_reservation using(shop_idx)
	where tb_shop.member_id = #{memberId}
	</select>
	
	<select id="selectWaiting" resultType="map">
	select tb_shop.shop_name, tb_shop.shop_tell, tb_waiting.wait_reg_date, 
	tb_waiting.wait_idx,tb_waiting.wait_state,tb_waiting.wait_party
	from tb_shop 
	left outer join tb_waiting using(shop_idx)
	where tb_shop.member_id = #{memberId}
	</select>
	
	<update id="modifyPw">
	update tb_member
	set member_pw = #{memberPw}
	where member_id = #{memberId}
	</update>
	
	
</mapper>