<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.toy.member.model.repository.MemberRepository">
		 

	<select id="selectMemberList" resultType="member">
		select *
		from(
			select rownum rnum, m.*
			from(
				select *
				from tb_member
				order by ${sort} ${direction}
			) m
		) where rnum between #{queryStart} and #{queryEnd}	
	</select>

	<select id="selectMemberAll" resultType="member">
		SELECT * FROM TB_MEMBER
	</select>

	<!-- <select id="selectUserInfo" resultType="member" parameterType="string">
		SELECT * FROM TB_MEMBER
		WHERE MEMBER_ID = #{value}
	</select> -->
	
	<!-- '%'||#%test#||'%' -->
		<select id="memberView" resultType="member">
		SELECT * FROM TB_MEMBER WHERE MEMBER_ID = #{memberId}
		
		</select>
		
		<update id="updateMember">
			update tb_member
			set member_phone = #{memberPhone}
			where member_id = #{memberId}
		
		</update>
	
	
</mapper>