<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.toy.review.model.repository.ReviewRepository">

	<select id="selectReview" resultType="review">
		SELECT REVIEW_IDX, REVIEW_SCORE, REVIEW_CONTENT, REVIEW_DATE, MEMBER_ID, SHOP_IDX, FILE_IDX  FROM
		(SELECT ROWNUM AS NUM , F.* FROM
		(SELECT * FROM TB_REVIEW WHERE SHOP_IDX = #{shopIdx} ORDER BY REVIEW_DATE DESC) F) S
		WHERE NUM >= #{queryStart} AND <![CDATA[NUM < #{queryEnd}]]>
	</select>
</mapper>