<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.toy.shop.model.repository.ShopRepository">

	<update id="updateShop" >
		update tb_shop 
		 	<set>
		 		<if test="shopTell != ''">
		 			shop_tell = #{shopTell}
		 		</if>
		 		<if test="shopPackAble != null">
		 			,shop_pack_able = #{shopPackAble} 
		 		</if>
		 		<if test="shopTableCount != 0">
		 			,shop_table_count = #{shopTableCount} 
		 		</if>
		 	</set>
		 where member_id = #{memberId}
	</update>
	
	<update id="updateCategoryName">
		update tb_menu_category
		set menu_category_name = #{menuCategoryName}
		where menu_category_idx = #{menuCategoryIdx}
	</update>
	
	<select id="selectMenuList" resultType="map">
		select menu_name, menu_price, file_rename, file_save_path, file_type, menu_category_name
		from tb_menu
		left outer join tb_file using(file_idx)
		where shop_idx = #{shopIdx}
	</select>
	
	<select id="selectMenuOrderList" resultType="map">
		select order_menu_name, order_menu_price, order_menu_cnt, order_date
		from tb_menu_ordering
		left outer join tb_order using(order_idx)
		where order_idx = #{orderIdx}
	</select>
	
	<delete id="deleteSelectionMenuOrder" parameterType="menuOrdering">
		delete 
		from tb_menu_ordering 
		where order_menu_name = #{orderMenuName} and order_idx = #{orderIdx}
	</delete>
</mapper>