@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}
.wrapper{
    max-width: 375px;
    margin: 0 auto;
    width: 375px;
    position: relative;
    background: #fff;
    min-height: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
.header{
    position: fixed;
    height: 48px;
    width: 375px;
    display:flex;
    justify-content : flex-end;
    z-index : 3;
    /* opacity: 0.7; */
}
.search, .notice, .bell{
    width: 15%;
    display: flex;
    margin-top: 10px;
    margin-right: 5px;
}
.search > i, .notice > i, .bell > i{
    margin: auto;
    font-size: 1.3em;
    color: white;
}
.notificationCnt{
    background-color: rgb(250, 61, 27);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    color: white;
    font-size: 15px;
    position: absolute;
    margin-left: 30px;
    /* display: none; */
}

.notifications{
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: fixed;
    /* position: absolute; */
    display: none;
    z-index: 5;
    margin-top: 30px;
    margin-left: 90px;
    overflow: scroll;
}
.notification{
    /* border: 1px solid black; */
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
    height: 50px;
}
.notificationMsg{
    padding-top: 10px;
    padding-left: 15px;
}
.notificationTime{
    padding-top: 5px;
    padding-left: 15px;
    color: darkgray;
}



.nHeader{
    /* border : 1px solid black; */
    height: 30px;
    display : flex;
    justify-content: right;
    border-bottom: 2px solid #F2BB13;
}
.nHeader > * {
    margin: auto;
}





.main{
    background-color: white;
    /* height: 1000px; */
}
.footer{
    height : 48px;
	width : 375px;
	position: fixed;
	bottom: 0;
    display: flex;
    background-color: whitesmoke;
}
.footer > div{
    width: 20%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    display: flex;
}
.footer i {
    margin: auto;
    font-size: 1.3em;
}
.footer a {
    margin: auto;
  
}

.banner{
    width: 100%;
    height: 300px;
}
.banner > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btnBox{
    padding-top: 48px;
    margin: auto;
}
.btnXLarge{
    width: 320px;
    height: 40px;
    color: white;
    font-weight: 300;
    background-color: #F2BB13;
    border-style: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;
}
.btnLarge{
    width: 300px;
    height: 40px;
    color: white;
    font-weight: 300;
    background-color: #F2BB13;
    border-style: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;
}
.btnMedium{
    width: 200px;
    height: 40px;
    color: white;
    font-weight: 200;
    background-color: #F2BB13;
    border-style: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;
}
.btnSmall{
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 200;
    background-color: #F2BB13;
    border-style: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;
}

.btnXSmall{
    width: 50px;
    height: 40px;
    color: white;
    font-weight: 200;
    background-color: #F2BB13;
    border-style: none;
    border-radius: 6px;
    font-family: 'Noto Sans KR', sans-serif;
}

.fontLarge{
    font-size: 40px;
}
.fontMedium{
    font-size: 30px;
}
.fontSmall{
    font-size: 20px;
}
.fontXSmall{
    font-size: 15px;
}
.fontXXSmall{
    font-size: 12px;
}

.imgLarge{
    border-radius: 10px;
    width: 180px;
    height: 180px;
}
.imgMedium{
    width: 100px;
    height: 100px;
}
.imgSmall{
    width: 50px;
    height: 50px;
}
.imgLarge > img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imgMedium > img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imgSmall > img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imgLarge:hover{
    opacity: 0.9;
}
.imgMedium:hover{
    opacity: 0.9;
}
.imgSmall:hover{
    opacity: 0.9;
}

/* 새로 추가한것들 */
.line{
    /* width: 320px; */
    background-color: #F2BB13;
    height: 5px;
}

.inputLarge{
    width: 320px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 0px;
    text-indent: 10px;
}
.inputMedium{
    width: 160px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 0px;
    text-indent: 10px;
}
.width100{
    width: 100%;
}

.red{
    background-color: tomato;
}
