@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper{
    max-width: 375px;
    margin: 0 auto;
    width: 375px;
    position: relative;
    background: #fff;
    min-height: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}

.header{
    height: 48px;
    width: 375px;
    display:flex;
    justify-content : flex-end;
    opacity: 0.7;
}
.search, .notice{
    width: 15%;
    display: flex;
}
.search > i, .notice > i{
    margin: auto;
    font-size: 1.2em;
    color: black;
}

.main{
    background-color: white;
    min-height: 900px;
    background-color: #dcdcdc;
}

.paymentTop{
	margin-top: 10px;
	padding : 13px 13px 20px 13px;
	border-bottom: 5px solid #F2BB13;
	font-size: 25px;
	font-weight: bold;
}

.paymentInfo{
	padding: 20px;
 	
}

.paymentInfo *:not(img){
	margin-bottom: 12px;
}

.paymentInfo>input:not(#checkBox,#radioBox){
	margin : 5px 0 10px 10px;
	padding : 7px;
	width : 300px;
}

#checkBox{
	margin : 10px 0 20px 0;
}

#paymentBox{
	padding : 5px 30px 0px 10px;
}

#paymentBox>img{
	width: 46px;
	height: 18px;
}

.money{
	display: flex;
	padding : 30px 10px 0 20px;
	justify-content:center;
}
.money>p{
	display:flex;
	width:100px;
	justify-content: flex-start;
}
.money>div{
	width: 200px;
	display: flex;
	justify-content: flex-end;
}

.sum{
	display: flex;
	padding : 30px 10px 0 20px;
	justify-content:center;
}
.sum>p{
	display:flex;
	width:100px;
	justify-content: flex-start;
}
.sum>div{
	width: 200px;
	display: flex;
	justify-content: flex-end;
}

.discard{
	width: 375px;
	height: 50px;
	text-align: center;
	background-color: #c0c0c0;
	color:white;
	box-shadow: 0px 2px 10px 0px #dcdcdc; 
	position: absolute;
	bottom:108px;
}

.payments{
	width: 375px;
	height: 50px;
	text-align: center;
	background-color: #F2BB13;
	color:white;
	box-shadow: 0px 2px 10px 0px #dcdcdc; 
	position: absolute;
	bottom: 55px;
}

.footer{
    height : 48px;
	width : 375px;
	position: fixed;
	bottom: 0;
    display: flex;
    background-color: whitesmoke;
}
.footer > div{
    width: 20%;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    display: flex;
}
.footer i {
    margin: auto;
    font-size: 1.3em;
}


