@charset "UTF-8";

 .body{
    padding-top: 48px;
}
.content_wrapper{
    width: 90%;
    height: 717px;
    /* background-color: #F2F2F2; */
    margin: auto;
    border-radius: 10px;
}

.line{
	height: 5px;
	background-color: #F2BB13;
}

.wrap_shop{
	padding-left: 10px;
	font-size: 50px;
	height: 60px;
	display:flex;
	justify-content: space-around;
} 
    
.store{
	margin-top: 10px;
	text-align: justify;
}
    
.shop{
 	display: flex;
 	padding-left: 10px;
 	font-size: 25px;
 	font-weight: lighter;
 	height: 100%;
 }

.shop>span{
	height: 50%;
	margin-top: 20px;
	vertical-align: sub;
}

.reserv_box{
	width: 100%;
	height: 80px;
	display: inline-block;
	justify-content: space-around;
	background-color: 	#FFFFE0;
	margin-top: 10px;
}

.box{
	margin-top: 5px;
	height: 30%;
}

.reserv_info{
	display: inline-block;
	width: 70%;
	height: 20px;
	text-align: center;
}

.btn{
	width: 20%;
	height: 20px;
	border: none;
	padding: 0;
}


#cancel_reserv{
	background-color: 	#BDB76B;
	color: white;
}

.fontXSmall{
	margin-left: 3px;
	font-size: smaller;
	height: 20%;
}

#reserv_ok{
	background-color: #F2BB13;
	color: white;
}

#reserv_ok:hover{
	background: #FFa500;
}

#reserv_not{
	background-color: #BDB76B;
	color: white;
}

#reserv_not:hover{
	background-color: #F0E68C;
}