@charset "UTF-8";

 .body{
    padding-top: 48px;
}
.content{
    width: 100%;
    height: 717px;
    /* background-color: #F2F2F2; */
   
    border-radius: 10px;
}

.line{
	height: 5px;
	background-color: #F2BB13;
	width:90%;
}

.buttonBox{
    height: 160px;
    border-radius: 6px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.manageBtn{
    background-color: #F2F2F2;
    width: 108px;
    height: 75px;
    border-radius: 6px;
}
.manageBtnIcon{
    height: 60%;
    text-align: center;
    display: flex;
}
.manageBtnIcon > i{
    margin: auto;
}
.manageBtnText{
    height: 40%;
    text-align: center;
}
.border{
    border: 2px solid #F2BB13;
}
.border > .manageBtnIcon{
    color: #F2BB13;
}
    
.wrap_user{
	padding-left: 10px;
	font-size: 50px;
	height: 14%;
} 
    
.user{
 	display: inline-block;
 	padding-left: 10px;
 	font-size: 30px;
 	align-self: center;
 }

.info{
	display: flex;
	margin-top: 15px;
}

.icon{
	font-size: 20px;
	padding-left: 15px;
	width: 10px;
}

#reserv_info{
font-size: 20px;
margin-left: 20px;
width: 60%;
display: flex;
}
.reserv_num{
font-size: 20px;
margin-left: 20px;
width: 100px;
display: flex;
}

.btn_cancel{
	justify-content: center;
}

#cancel_reserv:hover{
  background: #FFa500;
}

#cancel_reserv{
  width:150px;
  background: #F2BB13;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  border: none;	
}