@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.body{
    padding-top: 48px;
}
.content{
    width: 90%;
    height: 1000px;
    /* background-color: #F2F2F2; */
    margin: auto;
    border-radius: 10px;
}
#title{
    margin-bottom: 10px;
}

/* .map{
    width: 320px;
    height: 130px;
    background-color: antiquewhite;
} */

#inputPost{
	width: 160px;
    height: 30px;
	background-color: #F2F2F2;
	border: 0px;
}

#inputAddress{
	width: 320px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 0px;
    text-indent: 10px;
}

#inputAddressDetail{
	width: 320px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 0px;
    text-indent: 10px;
}

.addressSearch{
	 box-shadow: 0 0 20px rgb(0 0 0 / 5%);
	 background-color: #F2F2F2;
	 margin-left: 10px;
	 padding : 5px;
}

.confirmText{
    color: gray;
    font-family: 'Nanum Gothic', sans-serif;
}

.all{
	color: gray;
	font-size: 20px;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label em {
	display: inline-block;
	width: 23px;
	height: 21px;
	margin-right: 10px;
	/* background-image: url('../images/bg_chkbox.gif') ; */
	background-image: url('../images/check_off.png') ;
	vertical-align: middle;
}

input[type="checkbox"]:checked + label em {
	/* background-position: -38px 0; */
	background-image: url('../images/check_on.png') ;
}