@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.body{
    padding-top: 48px;
}
.content{
    width: 90%;
    height: 1000px;
    /* background-color: #F2F2F2; */
    margin: auto;
    border-radius: 10px;
}
#title{
    margin-bottom: 10px;
}

.map{
    width: 320px;
    height: 130px;
    background-color: antiquewhite;
}

.confirmText{
    color: gray;
    font-family: 'Nanum Gothic', sans-serif;
}


