.body{
    padding-top: 48px;
}
.content{
    width: 90%;
    height: 717px;
    /* background-color: #F2F2F2; */
    margin: auto;
    border-radius: 10px;
}
.buttonBox{
    height: 160px;
    border-radius: 6px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.manageBtn{
    background-color: #F2F2F2;
    width: 108px;
    height: 75px;
    border-radius: 6px;
}
.manageBtnIcon{
    height: 60%;
    text-align: center;
    display: flex;
}
.manageBtnIcon > i{
    margin: auto;
}
.manageBtnText{
    height: 40%;
    text-align: center;
}
.border{
    border: 2px solid #F2BB13;
}
.border > .manageBtnIcon{
    color: #F2BB13;
}