@charset "UTF-8";

.main{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100vh;
}
.imgLarge{
	padding-top:7vh;
}
.text_box{
	margin-top:5vh;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.btnMedium{
	margin-top:5vh;
}