@charset "UTF-8";

.main{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100vh;
}

.body{
    padding-top: 48px;
    width:90%;
}

.imgLarge{
	padding-top:7vh;
	margin-left:70px;
}

.wrap_field{
	display : block;
	text-align : center;
}

.text_box{
	margin-top:5vh;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.btnMedium{
	margin-top:5vh;
	align-self: center;
}

.line{
	height: 5px;
	background-color: #F2BB13;
}

.wrap_shop{
	padding-left: 10px;
	font-size: 50px;
	height: 60px;
	display:flex;
	justify-content: space-around;
} 
    
.store{
	margin-top: 10px;
	text-align: justify;
}
    
.shop{
 	display: flex;
 	padding-left: 10px;
 	font-size: 25px;
 	font-weight: lighter;
 	height: 100%;
 }

.shop>span{
	height: 50%;
	margin-top: 20px;
	vertical-align: sub;
}


